.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 10px;
}

.headerleft h1 {
  margin-right: 10px;
}

.headerright {
  font-size: 24px;
}

.main {
  text-align: center;
}

/* .servicescontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
} */

/* .service {
  flex: 1;
  padding: 20px;
} */

/* .servicedescription {
  display: flex;
  flex-direction: column;

  background-color: white;
  padding: 20px;
  text-align: left;
  height: 100%;
} */

.greenbutton {
  background-color: green;
  color: white;

  border: none;
  cursor: pointer;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 10px;
}

.footerleft {
  display: flex;
  align-items: center;
}

.separator {
  border-right: 1px solid #ccc;
  margin: 0 10px;
}

.footerright a {
  text-decoration: none;
}

.hovereffect {
  transition: background-color 0.3s;
  background-color: #33b49c;
}

.hovereffect:hover {
  background-color: #7eaba2;
  color: rgb(255, 255, 255);
}
